<!DOCTYPE html>
<html>
  <head>
    <title>Onada Careers</title>

   <style>
     h1{
       font-family: Roboto;
       font-size: 40px;
       font-weight:normal;
       text-align: center;
       color: rgb(100,100,100);
     }

     #banner {
       width: 20%
       height: 360px;
       object-fit: cover;
     }
   </style>
  </head>
  <body>
    <h1>Onada Careers</h1>
    <img id="banner" src="https://85fa0cf2-915b-48c7-ae47-28b928acfbaa-00-2tmq3bdm6c7ea.spock.replit.dev/static/baner.jpg"  alt="Banner Image" />

  <h2>About Onada</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacinia egestas neque quis suscipit. Vivamus varius pulvinar scelerisque. Vivamus mattis, urna quis elementum efficitur, dui neque ornare urna, eu volutpat ligula augue ac massa. Nulla sit amet tempus arcu, vitae facilisis sem. Ut lorem lorem, pretium vel ullamcorper nec, laoreet et metus. Vestibulum at velit at odio semper imperdiet. Vivamus malesuada dolor vel metus convallis, quis viverra felis eleifend. Nam eget consectetur lectus. Nunc ligula mauris, consectetur sed est in, fringilla facilisis orci. Nullam ac eros non mi aliquet fermentum ut ut nunc. Aliquam congue aliquet accumsan. Duis eget ante auctor, dignissim sem id, vehicula justo. Praesent luctus nulla at luctus accumsan. Mauris sed sem ut nulla auctor venenatis vel nec quam. Morbi id accumsan nisi. Fusce faucibus elit in mi sodales, non dictum sem efficitur</p>

    <h2>Opportunities</h2>
    <p>TODO --jobs</p>
    <button>Contact Us</button>
    
  </body>
</html>