<div class="border-bottom row" style="margin-bottom: 16px;padding-bottom: 4px;">
    <div class="col-9">
      <h4 style="color: rgb(120,120,120); margin-bottom: 8px; ">
      {{job.title}}
      </h4>
    
      <div>
        <b>Location:</b> {{job['location']}}
      </div>
        {% if 'salary' in job %}
      <div>
        <b>Salary:</b> {{job['salary']}}
      </div>
      {% endif %}
    </div>
    <div class="col-3">
     
        <a href="mailto:jobs@onadacareers.com?subject=Application%20for%{{job['title']}}&body=My%20Name%20%3A%20%3CYour%20name%3E%0D%0AMy%20Resume%20link%3A%20%3Cresume%20link%3E%0D%0AMy%20Linkeldin%20link%3A%20%3Clinkedin%20link%3E" type="button" class="btn btn-outline-primary">Apply</a>
    </div>
  

</div>